/* .CardList {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
}

.card-list-container {
	display: flex;
	justify-content: center;
} */

.CardList {
	margin: 1rem 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-flow: row;
	gap: 1rem;
}

@media screen and (max-width: 1200px) {
	.CardList {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 780px) {
	.CardList {
		grid-template-columns: 1fr;
	}
}
